artifacts/
cache/
crytic-export/
node_modules/
typechain/
coverage/
.env
deployments/localhost
hardhat
yarn-error.log
coverage.json
mythx.json
forge-cache/
out/
docs/
cov/
lcov.info
.env
.forge-snapshots/
